.noselect {
	-webkit-user-select: none;
}

body {
	padding: -10px;
}
* {
	font-family: Ubuntu;
}
#controls {
	width: 100%;
	height: 50px;
	line-height: 50px;
	outline: 1px solid black;
	background: #EFEFEF;
}
#controls > * {
	height: 24px;
	margin: 13px;
}
input, textarea {
	padding-left: 5px;
}
table {
	outline: 1px solid darkgrey;
	border: none;
	margin-top: 10px;
	overflow-y: auto;
	padding: 15px;
}
th {
	border-bottom: 1px solid darkgrey;
	cursor: pointer;
}
th:hover {
	text-decoration: underline;
}
th, td {
	padding: 5px 10px;
	text-align: center;
}
td:first-child {
	cursor: pointer;
}
td:first-child:hover {
	text-decoration: underline;
}
td input {
	width: 75px;
}
td > img {
	cursor: pointer;
}

#cloud-component.magnified {
	position: absolute;
	background: none !important;
	outline: none !important;
	top: 50px !important;
	left: 50px !important;
	right: 50px !important;
	text-align: center;
}
#cloud-component.magnified > img {
	display: inline-block;
}